@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 75%;
    margin: auto;
    font-family: "Montserrat", sans-serif;
}

/* Barre de navigation */
.navbar {
    color: #333;
    padding: 50px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-name {
    font-size: 1.75em;
}

.navbar-right {
    display: flex;
    gap: 25px;
}

.navbar-right a {
    position: relative;
    color: #333;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75em;
}

.navbar-right a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    background: whitesmoke; /* Couleur du surlignement */
    bottom: -2px; 
    left: 0;
    transition: width 0.3s ease-out;  
}

.navbar-right a:hover::after {
    width: 100%;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: darkgrey;
    margin: 4px;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    /* top: 60px;
    right: 0;
    width: 100%; */
}

.dropdown-menu a {
    color: white;
    background: #626474;
    z-index: 2;
    padding: 15px;
    text-decoration: none;
}

.dropdown-menu a:first-child {
    border-bottom: 1px solid whitesmoke;
}

.dropdown-menu a:nth-child(2) {
    border-bottom: 1px solid whitesmoke;
}

.dropdown-menu a:hover {
    background-color: #585a68;
}

@media (max-width: 800px) {
    .navbar-container {
        padding: 15px 0;
    } 

    .navbar-right {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .dropdown-menu {
        display: none;
        width: 75%;
    }

    .dropdown-menu.show {
        display: flex;
    }
}

.presentation {
    display: flex;
    padding: 75px 25px;
    background: #f5f7fa;
    align-items: center;
}

.presentation > img {
    width: 50%;
}

/* Style global de l'article */
.myself {
    display: flex;               /* Affichage en flexbox pour positionner l'image et le texte côte à côte */
    align-items: stretch;        /* Aligne les éléments sur la hauteur maximale possible */
    gap: 20px;                   /* Espace entre l'image et le texte */
    margin-bottom: 40px;
    justify-content: space-between;  /* S'assure que l'image et le texte sont espacés */
}

/* Style de l'image */
.myself img {
    max-width: 50%;              /* L'image occupe 50% de la largeur */
    height: auto;                /* L'image garde son ratio */
    object-fit: contain;         /* Adapte l'image au conteneur en conservant son ratio */
}

/* Style du texte */
.myself > div {
    flex-grow: 1;                /* Le texte occupe l'espace restant */
    padding: 0 20px;             /* Ajoute un peu de marge intérieure au texte */
}

.myself h2 {
    font-size: 1.75rem;             /* Taille de base des titres */
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
}

.myself p {
    line-height: 1.5;            /* Espace entre les lignes pour améliorer la lisibilité */
    text-align: justify;
}

/* Media query pour les écrans entre 1400px et 1500px */
@media (max-width: 1500px) and (min-width: 1400px) {
    .myself h2 {
        font-size: 1.5em; /* 1.75em - 0.25em */
    }
    
    .myself p {
        font-size: 0.95em; /* 1em - 0.25em */
    }
}

/* Media query pour les écrans entre 1300px et 1400px */
@media (max-width: 1400px) and (min-width: 1300px) {
    .myself h2 {
        font-size: 1.25em; /* 1.5em - 0.25em */
    }
    
    .myself p {
        font-size: 0.90em; /* 0.75em - 0.25em */
    }
}

/* Media query pour les écrans entre 1200px et 1300px */
@media (max-width: 1300px) and (min-width: 1200px) {
    .myself h2 {
        font-size: 1.25em; /* 1.25em - 0.25em */
    }
    
    .myself p {
        font-size: 0.85em; /* 0.5em - 0.25em */
    }
}

/* Responsive */
@media (max-width: 1200px) {
    .myself {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .myself > img {
        width: 95%;
    }
}



.presentation > div > h1 {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
}

.presentation > div > h2 {
    font-size: 1.17em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.25;
}

.presentation > div, .myself > div {
    padding: 25px;
}

.presentation > div > button {
    background: #585757;
    padding: 15px 25px;
    border: none;
    letter-spacing: 1.25px;
    cursor: pointer;
}

.presentation > div > button > a {
    color: white;
    text-decoration: none;
}

/* Responsive */
@media (max-width: 1200px) {
    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .presentation > img {
        width: 95%;
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 50px 0;
}


footer > a > img {
    width: 25px;
    padding: 0 2.5px;
}